body {
    background-color: gray;
}

.container {
    width: 400px;
    margin: 200px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input {
    width: 98%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #03852a;
    color: white;
    border: none;
    border-radius: 12px;
}

button:hover {
    background-color: #01591b;
}

